.setup-heading-text {
  box-sizing: border-box;
  color: rgb(8, 7, 7);
  font-size: 24px;
  height: 36px;
  line-height: 36px;
}

.card-container {
  min-height: 500px;
  width: 100%;
}

.spinner-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100px;
}

.guided-setup-item {
  height: 100% !important;
}

.help-card {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #dddbda;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: inset 0 -10px 1px -7px blue;
  background-color: white;
}
